@page
@model IndexModel

<div class="text-center">
    <h1>Last Meal Time:</h1>
    <h2 id="lastMealTime">Loading...</h2>
    <h1>Today Meals:</h1>
    <h2 class="circle" id="todayMeals">Loading...</h2>
    <h1>Yesterday Meals:</h1>
    <h2 class="circle" id="yesterdayMeals">Loading...</h2>
    <button id="feedButton" class="feed-button">Feed the pet</button>
</div>

<script>
    function fetchLastFeedingTime() {
        fetch('/api/pft/last')
            .then(response => response.json())
            .then(data => {
                updateMeals(data);
            })
            .catch(error => {
                console.error('Error fetching feeding time:', error);
            });
    }

    function updateMeals(data) {
        document.getElementById('lastMealTime').innerText = data.lastMealTime;

        const todayMealsElement = document.getElementById('todayMeals');
        const yesterdayMealsElement = document.getElementById('yesterdayMeals');

        todayMealsElement.innerText =  data.todayMeals;
        todayMealsElement.className = 'circle ' + ( data.todayMeals <= 3 ? 'green' : 'red');

        yesterdayMealsElement.innerText = data.yesterdayMeals;
        yesterdayMealsElement.className = 'circle ' + (data.yesterdayMeals <= 3 ? 'green' : 'red');
    }

    document.getElementById('feedButton').addEventListener('click', function () {
        fetch('/api/pft/feed', { method: 'POST' })
            .then(response => response.text())
            .then(data => {
                fetchLastFeedingTime();
            })
            .catch(error => {
                console.error('Error feeding the pet:', error);
            });
    });

    fetchLastFeedingTime();
</script>
